<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;AttachDbFilename=|DataDirectory|\aspnet-Helpdesk.Website-20150711023223.mdf;Initial Catalog=aspnet-Helpdesk.Website-20150711023223;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="HelpdeskModels" connectionString="data source=localhost;initial catalog=Helpdesk;integrated security=True;connectretrycount=2;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ZipPath" value="\" />
    <add key="TFSServerURL" value="http://win-psjsom4jco4:8080/tfs/defaultcollection" />
    <add key="TFSUsername" value="HuginAntony" />
    <add key="TFSPassword" value="Evolut1on" />
    <add key="TFSProjectName" value="Revolution" />
    <add key="WorkItemType" value="Task" />
    <add key="ViewRequestUrl" value="http://localhost:2346/Request/UpdateRequest?requestId=" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
    <globalization culture="en-ZA" uiCulture="en-ZA" />
    <customErrors mode="Off" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="" password="" userName="" port="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!-- prevent log4net from locking the file, otherwise integration tests cannot remove it for each test-->
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs\log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate | %level | %logger | %message%newline"/>
      </layout>
    </appender>

    <appender name="GelfUdpAppender" type="Gelf4Net.Appender.GelfUdpAppender, Gelf4Net">
      <remoteAddress value="172.30.222.108"/>
      <remotePort value="12201"/>
      <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
        <param name="AdditionalFields" value="app:CouchBaseCahing,version:1.0,Environment:Dev,Level:%level"/>
        <param name="Facility" value="MyApp"/>
        <param name="IncludeLocationInformation" value="true"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="RollingFile" />-->
      <appender-ref ref="GelfUdpAppender"/>
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>