body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.popover {
    max-width: 100%;
}

img.small {
    height: auto;
    width: auto;
    max-width: 36px;
    max-height: 36px;
}

.left-pad {
    padding-left: 15px;
}

.right-pad {
    padding-right: 15px;
}

.chart-legend li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    font-size: 8px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/*Messages*/
.info-display {
    margin: 8px 8px;
}

.message {
    width: 50%;
    margin: 0 auto;
    padding: 19px;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.error {
    background-color: rgba(217, 80, 80, 0.2);
    border-top-right-radius: 31px;
    border-right-color: #CC3333; /* Side Effect Colors */
    border-left-color: #CC3333; /* Side Effect Colors */
    border: 1px solid #CC3333;
    border-right-width: 19px;
    border-left-width: 19px;
}

    .error strong {
        color: #FF3333;
    }

.warning {
    border-right-color: #FF9933;
    border-bottom-right-radius: 31px;
    background-color: rgba(240, 173, 78, 0.2);
    border-right-color: #FF9933; /* Side Effect Colors */
    border-left-color: #FF9933; /* Side Effect Colors */
    border: 1px solid #FF9933;
    border-right-width: 19px;
    border-left-width: 19px;
}

    .warning strong {
        color: #FF9900;
    }

.info {
    border-right-color: #5bc0de;
    border-bottom-right-radius: 31px;
    border-top-right-radius: 31px;
    background-color: rgba(91, 192, 222, 0.2);
    border-right-color: #5bc0de; /* Side Effect Colors */
    border-left-color: #5bc0de; /* Side Effect Colors */
    border: 1px solid #5bc0de;
    border-right-width: 19px;
    border-left-width: 19px;
}

    .info strong {
        color: #5bc0de;
    }

.success {
    border-right-color: #2b542c;
    border-radius: 31px;
    background-color: rgba(43, 84, 44, 0.2);
    border-right-color: #2b542c; /* Side Effect Colors */
    border-left-color: #2b542c; /* Side Effect Colors */
    border: 1px solid #2b542c;
    border-right-width: 19px;
    border-left-width: 19px;
}

    .success strong {
        color: #2b542c;
    }
/*End Messages*/

.top {
    margin-top: 3px;
}

textarea {
    height: 100%;
    width: 100%;
}

/*Icon inside an input*/
.left-inner-addon {
    position: relative;
}

    .left-inner-addon input {
        padding-left: 30px;
    }

    .left-inner-addon i {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
    }

.right-inner-addon {
    position: relative;
}

    .right-inner-addon input {
        padding-right: 30px;
    }

    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }

/*End icon inside an input*/
